<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.apache.cordova.scan.cudel" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cudgel</name>
    <js-module name="cudgel" src="www/cudgel.js">
        <clobbers target="cordova.plugins.cudgel" />
    </js-module>
</plugin>
<platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CudgelPlugin">
        <param name="android-package" value="org.apache.cordova.scan.CudgelPlugin"/>
      </feature>
    </config-file>
        <source-file src="src/android/CudgelPlugin.java" target-dir="src/org/apache/cordova/scan" />
</platform>